matplotlib==3.5.1
maxflow==0.0.1
numpy==1.21.5
opencv_contrib_python==4.5.5.64
PyMaxflow==1.2.13
tensorflow==2.7.0
tensorflow_addons==0.16.1
tensorflow_examples==f67a01daeb5cc34b1c5a3a2ee25c977321a86280_
